#form{
    color: #b0b0b0;
    background-color: white;
    width: 400px;
    padding: 10px;;    
}
.form-profile{
    color: #b0b0b0;
    background-color: white;
    padding: 30px 30px 10%;  
}
.form-title{
    font-weight: 900;
    color: #ffc817;
    font-size: 30px;
}
#red-stripe{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 10px;
    width: 100%;
    background-color: #e4462eed;
}
.btn-pitang{
    width: 367px;
    height: 50px;
    font-family: 'Gill Sans', sans-serif;
    font-weight: 900;
    font-size: 20px;
}
button:focus{
    outline: none;
}
.white-btn{
    border: 2px solid #8d8d8d;
    color: #8d8d8d;
    outline: none;
    outline-color:#8d8d8d; 
    background-color: white;
}
.green-btn{
    border: none;
    color: white;
    background-color: #3e8a28; 
}
.grey-layer{
    background-color: #9e9e9e;
    color: white;
    padding: 5px 10px 5px;
    width: 1360px;
}
.white-layer{
    width: 1360px;
    height: 625px;
    background-color: #f8f8f8
}
.contact-list{
    background-color: #f8f8f8;
    height: 625px;
    width: 475px;
    float: left;
}
.message-board{
    background-color: white;
    width: 885px;
    height: 625px;
    overflow: hidden;
}
.search-bar{
    text-align: justify;
    border: none;
    background-color: #d2d2d2;
    padding-left: 35px;
    border-radius: 20px;
    width: 450px;
}
.search-bar:focus{
    outline: none;
}
.chat-room{
    height: 535px;
    width: 1360px;
}
.send-message-field{
    height: 90px;
    width: 890px;
    background-color: #e5e5e5;
    padding-top: 20px;
    padding-left: 30px;
    overflow: hidden;
}
.send-message-bar{
    height: 50px;
    width: 750px;
    padding-left: 20px;
    text-align: justify;
    border: none;
    background-color: #ffffff;
    border-radius: 20px;
}
.send-message-bar:focus{
    outline: none;
}
.display-dft{
    display: none;
}
.picture-round{
    background-color: #fe8b79;
    border-radius: 50%;
}
.align-center{
    margin: 25%;
    width: 50%;
}
.bright-yellow{
    color: #ffc817;
}
.light-grey{
   color: #cbcbcb;  
}
.light-grey{
    color: #ffffff;  
 }


